@media (min-width: 37.5rem) {
  main {
    grid-template-columns: 1fr 1fr;
  }
  .home {
    grid-column: 1/3;
    font-size: 1.5rem;
  }
  #burguer,
  #titulo {
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
  }
  .nome {
    font-size: 1.5rem;
  }
  footer {
    font-size: 1.2rem;
    margin-top: 10px;
  }
}
@media (min-width: 45rem) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
  }
  .home {
    grid-column: 1/4;
    font-size: 2rem;
  }

  .nome {
    font-size: 1.5rem;
  }
  footer {
    font-size: 1.2rem;
    margin-top: 20px;
  }
  img {
    max-width: 300px;
    max-height: 200px;
    padding: 30px;
  }
  .menu {
    display: flex;
    flex-direction: row;
    gap: 35px;
    background-color: var(--primary-color);
    justify-content: end;
  }
  .menu a {
    color: black;
    margin-right: 15px;
  }
  header {
    display: grid;
    grid-template-columns: 250px 1fr;
  }
  #burguer {
    display: none;
  }
  #titulo {
    font-size: 30px;
  }
}
.nomes {
  font-size: 25px;
  margin-top: 30px;
}
